In [1]:
#第七章 数据清洗与准备
#数据加载、清理、转换、重新排列
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
#处理缺失值
string_data = pd.Series(['aardvark','artichoke',np.nan,'avocado'])
print(string_data)
print('---------')
print(string_data.isnull())

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object
---------
0    False
1    False
2     True
3    False
dtype: bool

In [4]:
#过滤缺失值
from numpy import nan as NA
data = pd.Series([1,NA,3.5,NA,7])
print(data.dropna())
print('---------')
print(data[data.notnull()])

0    1.0
2    3.5
4    7.0
dtype: float64
---------
0    1.0
2    3.5
4    7.0
dtype: float64

In [5]:
df = pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1]=NA
df.iloc[:2,2]=NA
print(df)
print('---------')
print(df.dropna())
print('---------')
print(df.dropna(how = 'all'))
print('---------')
print(df.dropna(thresh = 2))
print('---------')
print(df.dropna(thresh = 3))

          0         1         2
0 -1.807991       NaN       NaN
1  0.944939       NaN       NaN
2  0.786649       NaN  2.792637
3 -0.342541       NaN  0.443965
4  0.518560 -0.067146 -1.243016
5  0.710246  1.041208 -1.367161
6  0.599658 -0.010724  0.031712
---------
          0         1         2
4  0.518560 -0.067146 -1.243016
5  0.710246  1.041208 -1.367161
6  0.599658 -0.010724  0.031712
---------
          0         1         2
0 -1.807991       NaN       NaN
1  0.944939       NaN       NaN
2  0.786649       NaN  2.792637
3 -0.342541       NaN  0.443965
4  0.518560 -0.067146 -1.243016
5  0.710246  1.041208 -1.367161
6  0.599658 -0.010724  0.031712
---------
          0         1         2
2  0.786649       NaN  2.792637
3 -0.342541       NaN  0.443965
4  0.518560 -0.067146 -1.243016
5  0.710246  1.041208 -1.367161
6  0.599658 -0.010724  0.031712
---------
          0         1         2
4  0.518560 -0.067146 -1.243016
5  0.710246  1.041208 -1.367161
6  0.599658 -0.010724  0.031712

In [20]:
#补全缺失值
print(df.fillna(0))
print('---------')
print(df.fillna({1:0.5,2:0}))
print('---------')
_ = df.fillna(0,inplace=True)
print(df)

          0         1         2
0  0.252806  0.000000  0.000000
1 -0.599935  0.000000  0.000000
2 -1.021984  0.000000  0.339744
3  0.518696  0.000000 -0.374471
4 -0.006302  1.519335 -1.109203
5 -0.794350  0.831432  1.338812
6  2.262281 -0.573307  0.227647
---------
          0         1         2
0  0.252806  0.500000  0.000000
1 -0.599935  0.500000  0.000000
2 -1.021984  0.500000  0.339744
3  0.518696  0.500000 -0.374471
4 -0.006302  1.519335 -1.109203
5 -0.794350  0.831432  1.338812
6  2.262281 -0.573307  0.227647
---------
          0         1         2
0  0.252806  0.000000  0.000000
1 -0.599935  0.000000  0.000000
2 -1.021984  0.000000  0.339744
3  0.518696  0.000000 -0.374471
4 -0.006302  1.519335 -1.109203
5 -0.794350  0.831432  1.338812
6  2.262281 -0.573307  0.227647

In [30]:
print(df)
print('---------')
print(df.fillna(method = 'ffill'))
print('---------') 
print(df.fillna(method = 'bfill'))
print('---------') 
print(df.fillna(method = 'bfill',limit = 2))

          0         1         2
0  0.803887       NaN       NaN
1 -0.802666       NaN       NaN
2 -2.032836       NaN -2.563250
3 -0.387970       NaN -0.595209
4 -1.663891 -1.490857 -0.268202
5  0.178890 -0.153283 -2.137426
6 -1.373116  0.710935 -1.784866
---------
          0         1         2
0  0.803887       NaN       NaN
1 -0.802666       NaN       NaN
2 -2.032836       NaN -2.563250
3 -0.387970       NaN -0.595209
4 -1.663891 -1.490857 -0.268202
5  0.178890 -0.153283 -2.137426
6 -1.373116  0.710935 -1.784866
---------
          0         1         2
0  0.803887 -1.490857 -2.563250
1 -0.802666 -1.490857 -2.563250
2 -2.032836 -1.490857 -2.563250
3 -0.387970 -1.490857 -0.595209
4 -1.663891 -1.490857 -0.268202
5  0.178890 -0.153283 -2.137426
6 -1.373116  0.710935 -1.784866
---------
          0         1         2
0  0.803887       NaN -2.563250
1 -0.802666       NaN -2.563250
2 -2.032836 -1.490857 -2.563250
3 -0.387970 -1.490857 -0.595209
4 -1.663891 -1.490857 -0.268202
5  0.178890 -0.153283 -2.137426
6 -1.373116  0.710935 -1.784866

In [32]:
data = pd.Series([1.,NA,3.5,NA,7])
print(data)
print('---------') 
print(data.fillna(data.mean()))

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64
---------
0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [9]:
#数据转换
#删除重复值
data = pd.DataFrame({'k1':['one','two']*3 + ['two'],
                    'k2':[1,1,2,3,3,4,4]})
print(data)
print('---------') 
print(data.duplicated())
print('---------') 
print(data.drop_duplicates())
print('---------') 
data['v1'] = range(7)
print(data)
print('---------') 
print(data.duplicated(['k1']))
print('---------') 
print(data.drop_duplicates(['k1','k2'],keep = 'last'))

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4
---------
0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool
---------
    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
---------
    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6
---------
0    False
1    False
2     True
3     True
4     True
5     True
6     True
dtype: bool
---------
    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

In [13]:
#使用函数或映射进行数据转换
data = pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami','corned beef','Bacon','pastrami','honey ham','nova lox'],
                     'ounces':[4,3,12,6,7.5,8,3,5,6]})
print(data)
print('---------') 
meat_to_animal = {
    'bacon':'pig',
    'pulled pork':'pig',
    'pastrami':'cow',
    'corned beef':'cow',
    'honey ham':'pig',
    'nova lox':'salmon'
}
lowercased = data['food'].str.lower()
print(lowercased)
print('---------') 
data['animal'] = lowercased.map(meat_to_animal)
print(data)
print('---------') 
data['food'].map(lambda x :meat_to_animal[x.lower()])

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0
---------
0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object
---------
          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon
---------

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [15]:
#替代值
data = pd.Series([1.,-999.,2.,-999.,-1000.,3.])
print(data)
print('---------')
print(data.replace(-999,np.nan))
print('---------')
print(data.replace([-999,-1000],np.nan))

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64
---------
0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64
---------
0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [23]:
#重命名轴索引
data = pd.DataFrame(np.arange(12).reshape(3,4),
                    index = ['Ohio','Colorado','New York'],
                    columns = ['one','two','three','four'])
transform = lambda x : x[:4].upper()
data.index = data.index.map(transform)
print(data)
print('---------')
print(data.rename(index = str.title,columns = str.upper))
print('---------')
print(data)
print('---------')
print(data.rename(index = {'OHIO':'INDIANA'},
            columns = {'three':'peekaboo'}))

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11
---------
      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11
---------
      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11
---------
         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [36]:
#离散化和分箱
ages = [20,22,25,27,21,23,37,31,61,45,41,32]
bins = [18,25,35,60,100]
cats = pd.cut(ages,bins)
print(cats)
print('------------')
print(cats.codes)
print('-------------')
print(cats.categories)
print('--------------')
print(pd.value_counts(cats))
print('----------------')
group_names = ['Youth1','Youth2','Youth3','Youth4']
print(pd.cut(ages,bins,labels = group_names))
print('--------------')
data = np.random.rand(20)
print(pd.cut(data,4,precision = 2))
print('--------------------')
cats2 = pd.qcut(data,4)
print(cats2)
print('---------------')
print(pd.value_counts(cats2))

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]
------------
[0 0 0 1 0 0 2 1 3 2 2 1]
-------------
IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')
--------------
(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64
----------------
[Youth1, Youth1, Youth1, Youth2, Youth1, ..., Youth2, Youth4, Youth3, Youth3, Youth2]
Length: 12
Categories (4, object): [Youth1 < Youth2 < Youth3 < Youth4]
--------------
[(0.5, 0.71], (0.085, 0.29], (0.29, 0.5], (0.5, 0.71], (0.085, 0.29], ..., (0.71, 0.91], (0.085, 0.29], (0.29, 0.5], (0.29, 0.5], (0.29, 0.5]]
Length: 20
Categories (4, interval[float64]): [(0.085, 0.29] < (0.29, 0.5] < (0.5, 0.71] < (0.71, 0.91]]
--------------------
[(0.471, 0.687], (0.08499999999999999, 0.343], (0.343, 0.471], (0.471, 0.687], (0.08499999999999999, 0.343], ..., (0.687, 0.913], (0.08499999999999999, 0.343], (0.343, 0.471], (0.343, 0.471], (0.08499999999999999, 0.343]]
Length: 20
Categories (4, interval[float64]): [(0.08499999999999999, 0.343] < (0.343, 0.471] < (0.471, 0.687] < (0.687, 0.913]]
---------------
(0.687, 0.913]                  5
(0.471, 0.687]                  5
(0.343, 0.471]                  5
(0.08499999999999999, 0.343]    5
dtype: int64

In [40]:
#检验和过滤异常值
data = pd.DataFrame(np.random.randn(1000,4))
print(data.describe())
print('---------------')
print(data[(np.abs(data)>3).any(1)])
print('---------------')
data[np.abs(data)>3] = np.sign(data) * 3
print(data.describe())
print('--------------')
print(np.sign(data).head())

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.009925     0.041610    -0.029093    -0.009423
std       0.978485     1.004566     0.977285     1.056257
min      -3.100500    -3.394202    -3.258210    -3.611589
25%      -0.710636    -0.581812    -0.702456    -0.777181
50%       0.057113     0.050955    -0.051161    -0.044659
75%       0.632753     0.684036     0.658258     0.697751
max       3.303709     3.775084     2.810749     3.581967
---------------
            0         1         2         3
21   1.134741  0.816929 -0.566053 -3.123607
139 -0.793339 -3.394202  0.794810  0.604003
259  3.303709  0.647273  0.943829 -1.647528
376 -0.806392  1.039527 -0.305029 -3.611589
511 -0.189286 -1.718753 -0.113836  3.581967
519 -2.743362  0.696462 -3.258210 -1.074988
608 -1.886440  3.298304 -0.007720  0.378958
757 -1.048413  3.775084 -1.093628  0.601916
916 -3.100500  0.248221 -0.747564  0.894045
---------------
                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.009722     0.040931    -0.028835    -0.009270
std       0.977193     0.999774     0.976465     1.052161
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.710636    -0.581812    -0.702456    -0.777181
50%       0.057113     0.050955    -0.051161    -0.044659
75%       0.632753     0.684036     0.658258     0.697751
max       3.000000     3.000000     2.810749     3.000000
--------------
     0    1    2    3
0 -1.0 -1.0 -1.0  1.0
1 -1.0  1.0 -1.0  1.0
2  1.0  1.0  1.0  1.0
3  1.0  1.0 -1.0  1.0
4  1.0 -1.0  1.0 -1.0

In [47]:
#置换和随机抽样
df =pd.DataFrame(np.arange(5*4).reshape((5,4)))
sampler = np.random.permutation(5)
print(df)
print('--------------')
print(sampler)
print('------------')
print(df.take(sampler))
print('--------------')
print(df.sample(n=3))
print('-----------')
choices = pd.Series([5,7,-1,6,4])
draws = choices.sample(n=6,replace = True)
print(draws)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
--------------
[2 0 1 4 3]
------------
    0   1   2   3
2   8   9  10  11
0   0   1   2   3
1   4   5   6   7
4  16  17  18  19
3  12  13  14  15
--------------
    0   1   2   3
4  16  17  18  19
2   8   9  10  11
0   0   1   2   3
-----------
3    6
2   -1
0    5
0    5
2   -1
4    4
dtype: int64

In [87]:
#计算指标/虚拟变量
df = pd.DataFrame({'key':['b','b','a','c','a','b'],
                    'data1':range(6)})
print(pd.get_dummies(df['key']))
print('---------------')
dummies = pd.get_dummies(df['key'],prefix = 'key')
df_with_dumpy = df[['data1']].join(dummies)
print(df_with_dumpy)
print('-------------')
#mnames = ['movie_id','title','genres']
#movies = pd.read_table('Datasets/movielens/movies.csv',sep=','header = None,names = mnames)
movies = pd.read_table('Datasets/movielens/movies.csv',sep=',')
print(movies[:10])
print('-------------')
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
    
genres = pd.unique(all_genres)
print(genres)
print('-------------')

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0
---------------
   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0
-------------
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)
6        7                      Sabrina (1995)
7        8                 Tom and Huck (1995)
8        9                 Sudden Death (1995)
9       10                    GoldenEye (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
5                        Action|Crime|Thriller
6                               Comedy|Romance
7                           Adventure|Children
8                                       Action
9                    Action|Adventure|Thriller
-------------
['Adventure' 'Animation' 'Children' 'Comedy' 'Fantasy' 'Romance' 'Drama'
 'Action' 'Crime' 'Thriller' 'Horror' 'Mystery' 'Sci-Fi' 'War' 'Musical'
 'Documentary' 'IMAX' 'Western' 'Film-Noir' '(no genres listed)']
-------------

In [93]:
zero_matrix = np.zeros((len(movies),len(genres)))
dummies = pd.DataFrame(pd.DataFrame(zero_matrix,columns = genres))
gen = movies.genres[0]
print(gen)
print('---------------')
print(gen.split('|'))
print('-----------------')
print(dummies.columns.get_indexer(gen.split('|')))
print('----------------------')
for i,gen in enumerate (movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i,indices] = 1
    
movies_windic = movies.join(dummies.add_prefix('Genre_'))
print(movies_windic.iloc[0])

Adventure|Animation|Children|Comedy|Fantasy
---------------
['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']
-----------------
[0 1 2 3 4]
----------------------
movieId                                                               1
title                                                  Toy Story (1995)
genres                      Adventure|Animation|Children|Comedy|Fantasy
Genre_Adventure                                                       1
Genre_Animation                                                       1
Genre_Children                                                        1
Genre_Comedy                                                          1
Genre_Fantasy                                                         1
Genre_Romance                                                         0
Genre_Drama                                                           0
Genre_Action                                                          0
Genre_Crime                                                           0
Genre_Thriller                                                        0
Genre_Horror                                                          0
Genre_Mystery                                                         0
Genre_Sci-Fi                                                          0
Genre_War                                                             0
Genre_Musical                                                         0
Genre_Documentary                                                     0
Genre_IMAX                                                            0
Genre_Western                                                         0
Genre_Film-Noir                                                       0
Genre_(no genres listed)                                              0
Name: 0, dtype: object

In [94]:
np.random.seed(12345)
values = np.random.rand(10)
print(values)
print('--------------')
bins = [0,0.2,0.4,0.6,0.8,1]
print(pd.get_dummies(pd.cut(values,bins)))

[0.92961609 0.31637555 0.18391881 0.20456028 0.56772503 0.5955447
 0.96451452 0.6531771  0.74890664 0.65356987]
--------------
   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

In [99]:
#字符串操作
#split(),strip(),jion(),+,in,index(),find(),count(),replace()
val = 'a,b, guido'
print(val.split(','))
print('-------------')
pieces = [x.strip() for x in val.split(',')]
print(pieces)
print('-------------')
first,second,third = pieces
pie = first+'!'+second+'!'+third
print(pie)
print('-----------------')
pie2 = '!'.join(pieces)
print(pie2)
print('-----------------')
print(val.index(','))
print('--------------')
print(val.count(','))
print('----------------')
print(val.find(';'))
print('----------------')
print(val.replace(',','::'))

['a', 'b', ' guido']
-------------
['a', 'b', 'guido']
-------------
a!b!guido
-----------------
a!b!guido
-----------------
1
--------------
2
----------------
-1
----------------
a::b:: guido

In [100]:
#正则表达式
import re

In [101]:
text = "foo  bar\t baz  \tqux"
re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [102]:
regex=re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [103]:
regex.findall(text)

['  ', '\t ', '  \t']

In [110]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""
pattern = r'[A-Z0-9-._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern,flags = re.IGNORECASE)
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [111]:
m = regex.search(text)
m

In [112]:
text[m.start():m.end()]

'dave@google.com'

In [113]:
print(regex.match(text))

None

In [114]:
print(regex.sub('REDACTED',text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [115]:
pattern =r'([A-Z0-9-._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern,flags = re.IGNORECASE)

In [116]:
m=regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

In [117]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [118]:
print(regex.sub(r'Username:\1,Domain:\2,Suffix:\3',text))

Dave Username:dave,Domain:google,Suffix:com
Steve Username:steve,Domain:gmail,Suffix:com
Rob Username:rob,Domain:gmail,Suffix:com
Ryan Username:ryan,Domain:yahoo,Suffix:com

In [135]:
#pandas 中向量化字符串函数
data = {'Dave': 'dave@google.com','Steve': 'steve@gmail.com','Rob': 'rob@gmail.com','Ryan': 'ryan@yahoo.com','Wes':np.nan}
data = pd.Series(data)
print(data)
print('----------------')
print(data.isnull())
print(data.str.contains('gmail'))
print('----------------')
print(pattern)
print('----------------')
print(data.str.findall(pattern,flags = re.IGNORECASE))
print('------------')
matches = data.str.match(pattern,flags = re.IGNORECASE)
print(matches)
print('-----------')
print(matches.str.get(1))
print('----------------')
print(matches.str[1])
print('---------------')
print(data.str[:5])

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Ryan      ryan@yahoo.com
Wes                  NaN
dtype: object
----------------
Dave     False
Steve    False
Rob      False
Ryan     False
Wes       True
dtype: bool
Dave     False
Steve     True
Rob       True
Ryan     False
Wes        NaN
dtype: object
----------------
([A-Z0-9-._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})
----------------
Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Ryan      [(ryan, yahoo, com)]
Wes                        NaN
dtype: object
------------
Dave     True
Steve    True
Rob      True
Ryan     True
Wes       NaN
dtype: object
-----------
Dave    NaN
Steve   NaN
Rob     NaN
Ryan    NaN
Wes     NaN
dtype: float64
----------------
Dave    NaN
Steve   NaN
Rob     NaN
Ryan    NaN
Wes     NaN
dtype: float64
---------------
Dave     dave@
Steve    steve
Rob      rob@g
Ryan     ryan@
Wes        NaN
dtype: object